# SPDX-FileCopyrightText: Copyright © 2025 Serban Giuroiu <giuroiu@gmail.com>
# SPDX-License-Identifier: MIT

[run]
command_line = -m unittest
branch = true
dynamic_context = test_function

[report]
skip_empty = true

[html]
title = Volant Coverage
show_contexts = true
