# SPDX-FileCopyrightText: Copyright © 2025 Serban Giuroiu <giuroiu@gmail.com>
# SPDX-License-Identifier: MIT

# macOS
.DS_Store

# Vim
.sw[a-z]
.*.sw[a-z]

# Python
__pycache__/

# coverage
.coverage
htmlcov/

# mypy
.mypy_cache/

# ruff
.ruff_cache/

# uv
.venv/
dist/
